{%- liquid
  assign heading = section.settings.title
  assign heading_size = section.settings.heading_size
  assign columns = section.settings.collections_per_row | plus: 0
  assign columns_small = columns | at_most: 2
  assign layout = section.settings.layout
  assign alignment = section.settings.alignment
  assign image_shape = section.settings.image_shape
  assign image_aspect_ratio = section.settings.image_aspect_ratio
  assign text_size = section.settings.text_size
  assign text_over_image = section.settings.overlay_text
  assign layout_mobile = section.settings.layout_mobile
  assign section_bg_color = section.settings.section_bg_color
  assign section_text_color = section.settings.section_text_color
  assign width = section.settings.width
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  # "Buttons list" section specific
  assign section_buttons = section_buttons | default: false
  assign separation_image = separation_image | default: false
  assign type_style = section.settings.type_style
  assign letter_spacing = section.settings.letter_spacing
  if section_buttons
    assign text_over_image = true
    assign image_shape = 'square'
    assign button_style = section.settings.button_style

    case button_style
      when 'square'
        assign border_radius = 0
      when 'rounded'
        assign border_radius = 8
      when 'pill'
        assign border_radius = 30
    endcase
  endif

  assign animations_enabled = settings.animations_enabled

  assign id = 'listCollections--' | append: section.id
  assign selector_id = '#' | append: id
  assign animation_anchor = selector_id
  assign collection_limit = 50

  assign carousel = false
  if layout == 'carousel'
    assign carousel = true
  endif

  assign adjust_heading = heading_size | divided_by: 100.0
  assign adjust_text = text_size | divided_by: 100.0
  capture type_adjustment
    case type_style
      when 'font-body'
        echo 'var(--FONT-ADJUST-BODY)'
      when 'subheading-text'
        echo 'var(--FONT-ADJUST-SUBHEADING)'
      when 'button-typography'
        echo 'var(--FONT-ADJUST-BUTTON)'
      else
        echo 'var(--FONT-ADJUST-HEADING)'
    endcase
  endcapture

  case layout_mobile
    when 'grid'
      assign columns_mobile = 2
    when 'carousel'
      assign columns_mobile = 1
  endcase

  capture list_collections_classes
    echo 'list-collections-section'

    if alignment == 'center'
      echo ' list-collections-section--center'
    endif

    if layout == 'grid'
      echo ' list-collections-section--grid'
    else
      echo ' list-collections-section--carousel'
    endif

    if layout_mobile == 'grid'
      echo ' list-collections-section--grid-mobile'
    else
      echo ' list-collections-section--carousel-mobile'
    endif
  endcapture

  capture layout_class
    if carousel
      echo 'carousel'
    else
      echo 'grid'
    endif

    if layout_mobile == 'grid'
      echo ' grid--mobile'
    else
      echo ' carousel--mobile'
    endif
  endcapture

  capture container_class
    if carousel
      echo 'carousel__container'
    else
      echo 'grid__container'
    endif

    echo ' list-collections-section__container'
  endcapture
-%}

{%- style -%}
  {{ selector_id }} {
    {% comment %} Set a min of 10px top padding to avoid images being cut off when padding top setting is set to less than 10px {% endcomment %}
    --PT: max(10px, {{ padding_top }}px);

    {% comment %} Set a min of 10px bottom padding to avoid images being cut off when padding bottom setting is set to less than 10px and text is over image {% endcomment %}
    {% if text_over_image %}
      --PB: max(10px, {{ padding_bottom }}px);
    {% else %}
      --PB: {{ padding_bottom }}px;
    {% endif %}

    {% if section_bg_color != 'rgba(0,0,0,0)' and section_bg_color != '' %}
      --bg: {{ section_bg_color }};
    {% endif %}

    {% if section_text_color != 'rgba(0,0,0,0)' and section_text_color != '' %}
      --text: {{ section_text_color }};
      --heading: {{ section_text_color }};
    {% endif %}

    --grid-item: {{ 100.0 | divided_by: columns | round: 4 }}%;
    --image-height: {{ image_aspect_ratio | times: 100 }}%;

    {% if text_size != blank %}
      --adjust-text: calc({{ type_adjustment }} * {{ adjust_text }});
    {% endif %}
  }

  {% if heading_size != blank %}
    {{ selector_id }} .section__heading {
      --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ adjust_heading }});
    }
  {% endif %}

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    {{ selector_id }} {
      --grid-item: {{ 100.0 | divided_by: columns_small | round: 4 }}%;
    }
  }

  @media screen and (max-width: 767px) {
    {% if columns_mobile > 1 %}
      {{ selector_id }} {
        --grid-item: {{ 100.0 | divided_by: columns_mobile | round: 4 }}%;
        --item-width-mobile: calc(90% / {{ columns_mobile }} - var(--grid-gutter));
      }
    {% endif %}
  }
{%- endstyle -%}

<section id="{{ id }}"
  class="section-padding {{ list_collections_classes }}"
  data-section-type="list-collections"
  data-section-id="{{ section.id }}"
  data-columns="{{ columns }}">

  <div class="{{ width }}">
    {%- if heading != blank -%}
      <div class="section__header">
        <h2 class="section__heading h2"
          {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
          {% endif %}>{{ heading | escape }}</h2>

        {%- if settings.show_spacer_lines -%}
          <hr class="section__heading-line"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="{{ container_class }}">
      {%- if section.blocks.size > 0 or template.name == 'list-collections' -%}
        <div class="{{ layout_class }}"
          {% if carousel %}
            data-slider
            data-slider-id="slider--{{ section.id }}"
          {% else %}
            {% comment %} This data attribute is needed to trigger the mobile slider JS functionality {% endcomment %}
            {% if layout_mobile == 'carousel' %}
              data-slider
            {% endif %}
          {% endif %}>
          {%- liquid
            if section.blocks.size > 0
              for block in section.blocks limit: section.blocks.size
                assign unique = block.id
                assign collection = collections[block.settings.collection]
                assign custom_collection_image = block.settings.custom_collection_image
                assign heading = block.settings.heading
                assign custom_bg_color = block.settings.bg_color | default: section.settings.bg_color
                assign text_color = block.settings.block_text_color | default: section.settings.block_text_color
                assign overlay_opacity = block.settings.overlay_opacity
                # "Buttons list" section specific
                assign button_link = block.settings.button_link
                assign border_color = block.settings.border_color

                assign animation_delay = forloop.index0

                capture placeholder_index
                  cycle 1, 2, 3
                endcapture

                render 'collection-grid-item', collection: collection, button_link: button_link, custom_collection_image: custom_collection_image, heading: heading, overlay_opacity: overlay_opacity, custom_bg_color: custom_bg_color, animation_delay: animation_delay, animation_anchor: animation_anchor, carousel: carousel, columns: columns, columns_mobile: columns_mobile, image_shape: image_shape, block_shopify_attributes: block.shopify_attributes, placeholder_index: placeholder_index, text_over_image: text_over_image, text_color: text_color, border_color: border_color, border_radius: border_radius, type_style: type_style, letter_spacing: letter_spacing, unique: unique, section_buttons: section_buttons,separation_image:separation_image
              endfor
            elsif template.name == 'list-collections'
              comment
                Show all collections if list collections template and no blocks
              endcomment

              assign index = 0

              for collection in collections limit: collection_limit
                unless collection.handle == 'frontpage'
                  assign unique = index | append: '--' | append: section.id
                  assign animation_delay = index

                  render 'collection-grid-item', collection: collection, animation_delay: animation_delay, animation_anchor: animation_anchor, carousel: carousel, columns: columns, columns_mobile: columns_mobile, image_shape: image_shape, text_over_image: text_over_image, unique: unique
                  assign index = index | plus: 1
                endunless
              endfor
            endif
          -%}
        </div>
      {%- else -%}
        {%- liquid
          comment
            Show no blocks text
          endcomment

          render 'no-blocks'
        -%}
      {%- endif -%}
    </div>
  </div>
</section>
