{%- assign link_title = link.title | strip_html | escape -%}
{%- assign link_title_lowercase = link.title | downcase | strip_html | escape -%}
{%- if link.links != blank -%}
  <li class="mobile-menu__item mobile-menu__item--level-1 mobile-menu__item--has-items{% if link.active %} mobile-menu__item--active{% endif %}" aria-haspopup="true">
    <button type="button" class="mobile-nav__trigger mobile-nav__trigger--level-1" aria-controls="MobileNav--{{ link.handle }}-{{ index }}" data-collapsible-trigger>
      <div class="mobile-navlink mobile-navlink--level-1{% if mobile_menu_behaviour == 'trigger' %} mobile-navlink--trigger{% endif %}{% if highlight_item == link_title_lowercase %} mobile-navlink--highlight{% endif %}" data-nav-link-mobile>
        {{- link_title -}}
      </div>
      <div class="mobile-navlink-toggle">
        {%- render 'icon-toggle-plus' -%}
        {%- render 'icon-toggle-minus' -%}
        <span class="fallback-text">{{ 'layout.navigation.see_more' | t }}</span>
      </div>
    </button>
    <div class="mobile-dropdown" id="MobileNav--{{ link.handle }}-{{ index }}" data-collapsible-container>
      <ul class="mobile-nav__sublist{% if sub_link.levels == 1 %} mobile-nav__sublist--has-items{% endif %}" data-collapsible-content>
        {%- for sub_link in link.links -%}
          {%- assign link_title = sub_link.title | strip_html | escape -%}
          {%- assign link_title_lowercase = sub_link.title | downcase | strip_html | escape -%}

          {%- capture link_image_markup -%}
            {%- render 'header-link-image' with enable: show_links_images, link: sub_link, aspect_ratio: links_images_aspect_ratio -%}
          {%- endcapture -%}

          <li class="mobile-menu__item mobile-menu__item--level-2{% if sub_link.levels == 1 %} mobile-menu__item--has-items{% endif %}{% if sub_link.active %} mobile-menu__item--active{% endif %}" {% if sub_link.levels == 1 %}aria-haspopup="true"{% endif %}>
            {% if sub_link.levels != 1 %}
              <a href="{{ sub_link.url }}" class="mobile-navlink mobile-navlink--level-2{% if link_image_markup != blank %} mobile-navlink--image{% endif %}{% if sub_link.levels == 1 and mobile_menu_behaviour == 'trigger' %} mobile-navlink--trigger{% endif %}{% if highlight_item == link_title_lowercase %} mobile-navlink--highlight{% endif %}" data-nav-link-mobile>
                {%- if link_image_markup != blank -%}
                  <div class="mobile-navlink__image">
                    {{- link_image_markup -}}
                  </div>
                {%- endif -%}

                <span>{{- link_title -}}</span>
              </a>
            {% endif %}
            {%- if sub_link.levels == 1 -%}
              <button type="button" class="mobile-nav__trigger mobile-nav__trigger--level-2 is-expanded" aria-controls="MobileNav--{{ link.handle }}-{{ sub_link.handle }}-{{ index }}" data-collapsible-trigger aria-expanded="true">
                <div class="mobile-navlink mobile-navlink--level-2{% if link_image_markup != blank %} mobile-navlink--image{% endif %}{% if sub_link.levels == 1 and mobile_menu_behaviour == 'trigger' %} mobile-navlink--trigger{% endif %}{% if highlight_item == link_title_lowercase %} mobile-navlink--highlight{% endif %}" data-nav-link-mobile>
                  {%- if link_image_markup != blank -%}
                    <div class="mobile-navlink__image">
                      {{- link_image_markup -}}
                    </div>
                  {%- endif -%}

                  <span>{{- link_title -}}</span>
                </div>
                <div class="mobile-navlink-toggle">
                  {%- render 'icon-toggle-plus' -%}
                  {%- render 'icon-toggle-minus' -%}
                  <span class="fallback-text">{{ 'layout.navigation.see_more' | t }}</span>
                </div>
              </button>
            {%- endif -%}

            {%- if sub_link.levels == 1 -%}
              <div class="mobile-dropdown is-expanded" id="MobileNav--{{ link.handle }}-{{ sub_link.handle }}-{{ index }}" data-collapsible-container aria-expanded="true" style="height: auto;">
                <ul class="mobile-nav__sub-sublist" data-collapsible-content>
                  {%- for sub_sub_link in sub_link.links -%}
                    {%- assign link_title = sub_sub_link.title | strip_html | escape -%}
                    {%- assign link_title_lowercase = sub_sub_link.title | downcase | strip_html | escape -%}
                    <li class="mobile-menu__item mobile-menu__item--level-3{% if sub_sub_link.active %} mobile-menu__item--active{% endif %}">
                      <a href="{{ sub_sub_link.url }}" class="mobile-navlink mobile-navlink--level-3{% if highlight_item == link_title_lowercase %} mobile-navlink--highlight{% endif %}">
                        {{- link_title -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </li>
{%- else -%}
  <li class="mobile-menu__item mobile-menu__item--level-1{% if link.active %} mobile-menu__item--active{% endif %}">
    <a href="{{ link.url }}" class="mobile-navlink mobile-navlink--level-1{% if highlight_item == link_title_lowercase %} mobile-navlink--highlight{% endif %}">
      {{ link_title }}
    </a>
  </li>
{%- endif -%}