{%- liquid
  assign limit = section.settings.product_recently_limit
  assign product_recently_minimum = section.settings.product_recently_minimum
  assign title = section.settings.title
  assign bg_color = section.settings.bg_color
  assign section_width = section.settings.width

  assign animations_enabled = settings.animations_enabled
  assign columns = settings.products_per_row_on_desktop

  assign section_id = 'recentProducts--' | append: section.id
  assign selector_id = '#' | append: section_id
  assign animation_anchor = selector_id
  assign animation_delay = 150
-%}

{%- style -%}
  {{ selector_id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }

  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    {{ selector_id }} { background-color: {{ bg_color }}; }
    {{ selector_id }} .product-grid-item { --bg: {{ bg_color }}; }
  {%- endif -%}
{%- endstyle -%}

<div class="recent-products section-padding js-only hidden"
  id="{{ section_id }}"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-section-type="recent-products"
  data-columns="{{ columns }}"
>
  <div class="recently-viewed-wrapper {{ section_width }}" data-recently-viewed-wrapper>
    {%- if title != blank -%}
      <div class="section__header">
        <h2 class="section__heading h3"
          {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-delay="{{ animation_delay }}"
            data-aos-anchor="{{ animation_anchor }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
          {% endif %}
        >
          {{- title -}}
        </h2>

        {%- if settings.show_spacer_lines -%}
          <hr class="section__heading-line"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-delay="{{ animation_delay }}"
              data-aos-anchor="{{ animation_anchor }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}
          >
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- render 'products-recently-viewed',
      product: product,
      section_width: section_width,
      limit: limit,
      product_recently_minimum: product_recently_minimum
    -%}
  </div>
</div>

{% schema %}
{
  "name": "Recently viewed products",
  "settings": [
    {
      "type": "range",
      "id": "product_recently_limit",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Product limit",
      "default": 4
    },
    {
      "type": "range",
      "id": "product_recently_minimum",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Display threshold",
      "info": "Hide section until a minimum of products can be shown.",
      "default": 4
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Recently viewed"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full-padded", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name":"Recently viewed products"
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside", "footer"]
  }
}
{% endschema %}