{%- liquid
  assign enable_tabs = section.settings.enable_tabs
  assign bg_color = section.settings.bg_color
  assign section_width = section.settings.width

  assign columns = settings.products_per_row_on_desktop
  assign animations_enabled = settings.animations_enabled

  assign section_id = 'relatedProducts--' | append: section.id
  assign selector_id = '#' | append: section_id
  assign animation_anchor = selector_id
  assign animation_delay = 150

  assign related_block = section.blocks | map: 'type' | where: 'related'
  assign recent_block = section.blocks | map: 'type' | where: 'recent'

  assign recomendations_limit = section.blocks | map: 'settings' | where: 'product_recommendations_limit'
  assign recomendations_limit = recomendations_limit[0].product_recommendations_limit | default: 4

  assign show_tabs = false
  if enable_tabs and related_block != blank and recent_block != blank
    assign show_tabs = true
  endif
-%}

{%- style -%}
  {{ selector_id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }

  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    {{ selector_id }} { background-color: {{ bg_color }}; }
    {{ selector_id }} .product-grid-item { --bg: {{ bg_color }}; }
  {%- endif -%}
{%- endstyle -%}

<div id="{{ section_id }}"
  class="related-products section-padding js-only"
  data-section-type="related-products"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-columns="{{ columns }}"
  {% if related_block != blank %}
    data-limit="{{ recomendations_limit }}"
  {% endif %}
>
  <div class="{{ section_width }}">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- liquid
          assign block_heading = block.settings.title
          assign product_recommendations_limit = block.settings.product_recommendations_limit
          assign product_recently_limit = block.settings.product_recently_limit
        -%}

        {%- capture headings_markup -%}
          {%- if block_heading != blank and show_tabs != true -%}
            <div class="section__header">
              <h2 class="section__heading h3"
                {% if animations_enabled %}
                  data-aos="fade-up"
                  data-aos-delay="{{ animation_delay }}"
                  data-aos-anchor="{{ animation_anchor }}"
                  {%- assign animation_delay = animation_delay | plus: 150 -%}
                {% endif %}
              >
                {{- block_heading -}}
              </h2>

              {%- if settings.show_spacer_lines -%}
                <hr class="section__heading-line"
                  {% if animations_enabled %}
                    data-aos="fade-up"
                    data-aos-delay="{{ animation_delay }}"
                    data-aos-anchor="{{ animation_anchor }}"
                    {%- assign animation_delay = animation_delay | plus: 150 -%}
                  {% endif %}
                >
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endcapture -%}

        {%- capture tabs_navigation -%}
          {{ tabs_navigation }}

          <li class="tabs__link{% if forloop.first %} current{% endif %}"
            data-tabs-link="{{ forloop.index0 }}"
            data-block-id="{{ block.id }}"
            tabindex="0"
            {{ block.shopify_attributes }}>
            <span>{{ block_heading }}</span>
          </li>
        {%- endcapture -%}

        {%- capture tabs -%}
          {{ tabs }}

          <div class="tab{% if enable_tabs == false or forloop.first %} current{% endif -%}" data-tab="{{ forloop.index0 }}">
            {%- comment -%} "Related products" markup {%- endcomment -%}
            {%- if block.type == 'related' and product.collections.size > 0 -%}
              <div data-related-products data-limit="{{ product_recommendations_limit }}" data-product-id="{{ product.id }}" {{ block.shopify_attributes }}>
                {%- if recommendations.performed and recommendations.products_count > 0 -%}
                  {{ headings_markup }}

                  <div class="carousel__container">
                    <div class="carousel carousel--inactive carousel--mobile"
                      data-slider
                      data-slider-id="related-slider--{{ section.id }}"
                      tabindex="0"
                    >
                      {%- for product in recommendations.products -%}
                        {%- assign animation_delay = forloop.index0 -%}
                        {%- render 'product-grid-item',
                          product: product,
                          carousel: true,
                          animation_delay: animation_delay,
                          section_width: section_width,
                          animation_anchor: animation_anchor
                        -%}
                      {%- endfor -%}
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- comment -%} "Recently viewed products" markup {%- endcomment -%}
            {%- if block.type == 'recent' -%}
              {{ headings_markup }}

              {%- render 'products-recently-viewed',
                product: product,
                section_width: section_width,
                limit: product_recently_limit,
                block: block
              -%}
            {%- endif -%}
          </div>
        {%- endcapture -%}
      {%- endfor -%}

      <div class="tabs{% unless show_tabs %} tabs--stacked{% endunless %}" data-tabs-holder>
        {%- if show_tabs -%}
          <div class="tabs__head"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
              {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}
          >
            <div class="tabs-scrollbar" data-custom-scrollbar-parent>
              <div class="tabs-scrollbar__holder" data-custom-scrollbar-holder>
                <ul class="tabs__nav subheading-text" data-custom-scrollbar-items>
                  {{ tabs_navigation }}
                </ul>

                <div class="custom-scrollbar" data-custom-scrollbar>
                  <div class="custom-scrollbar__thumb" data-custom-scrollbar-thumb></div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}

        <div class="tabs__contents" data-tabs-contents>
          {{ tabs }}
        </div>
      </div>
    {%- else -%}
      {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_tabs",
      "label": "Enable tabs",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full-padded", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "related",
      "name": "Related products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "You May Also Like"
        },
        {
          "type": "range",
          "id": "product_recommendations_limit",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Product limit",
          "default": 4
        }
      ]
    },
    {
      "type": "recent",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Recently viewed"
        },
        {
          "type": "range",
          "id": "product_recently_limit",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Product limit",
          "default": 4
        }
      ]
    }
  ]
}
{% endschema %}
