{%- liquid
  assign unique = section.id
  assign bg_color_secondary = section.settings.bg_color_secondary
  assign section_width = section.settings.width
  assign equalize_height = section.settings.equalize_height
  assign columns = section.settings.columns
  assign layout_mobile = section.settings.layout_mobile
  assign heading_size = section.settings.heading_size | times: 0.01
  assign text_size = section.settings.text_size | times: 0.01
  assign show_images = section.settings.show_images
  assign show_borders = section.settings.show_borders
  assign desktop_aspect_ratio = section.settings.desktop_aspect_ratio | times: 100
  assign mobile_aspect_ratio = section.settings.mobile_aspect_ratio | times: 100
  assign color_borders = section.settings.color_borders

  case layout_mobile
    when 'grid'
      assign mobile_width = 'mobile--one-half'
      assign mobile_class = ' grid--mobile'
    when 'stacked'
      assign mobile_width = 'mobile--one-whole'
      assign mobile_class = ' stacked--mobile'
    when 'carousel'
      assign mobile_width = 'mobile--one-whole'
      assign mobile_class = ' carousel--mobile'
  endcase

  case columns
    when 2
      assign item_width = 'one-half'
    when 3
      assign item_width = 'one-third'
    else
      assign item_width = 'one-quarter'
  endcase

  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#SectionColumns--' | append: unique
  assign animation_delay = 150
-%}

{%- style -%}
  #SectionColumns--{{ unique }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
    --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }});

    {%- if color_borders != 'rgba(0,0,0,0)' and color_borders != '' -%}
      --border: {{ color_borders }};
    {%- endif -%}

    {% unless columns == 3 %}
      --grid-tablet: repeat(2, minmax(0, 1fr));
    {% endunless %}
  }
  #SectionColumns--{{ unique }} .column-item__text p { --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size }}); }
{%- endstyle -%}
{% if product.metafields.custom.custommodel.value %}
<div id="SectionColumns--{{ unique }}"
  class="section-padding section-columns {{ section.settings.align_text }}{% if bg_color_secondary %} bg-secondary{% endif %}"
  data-section-id="{{ unique }}"
  data-section-type="columns-with-image">
  <div class="{{ section_width }}">

    {%- if section.settings.title != '' -%}
      <div class="section__header">
        <h2 class="section__heading h2"
          data-aos="fade-up"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-delay="{{ animation_delay }}"
          {%- assign animation_delay = animation_delay | plus: 150 -%}>{{ section.settings.title }}</h2>

        {%- if settings.show_spacer_lines -%}
          <hr class="section__heading-line"{% if animations_enabled %}
            data-aos="fade-up"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
          {% endif %}>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="section-columns__wrapper carousel__container">
		<div class="section-columns__slider carousel{{ mobile_class }}" data-slider>
			{% for image in product.metafields.custom.custommodel.value %}
					<div class="column-item carousel__item {{ item_width }} {{ mobile_width }}{%- render 'button-fallback-classes', primary_color: button_color, bg_color_secondary: bg_color_secondary -%}{% if show_borders %} column-item--border{% endif %}{% if show_images %} column-item--image{% endif %}"
              data-slider-item
              {% if animations_enabled %}
                data-aos="fade"
                data-aos-delay="0"
                data-aos-duration="0"
                data-aos-anchor="{{ animation_anchor }}"
              {% endif %}>
              {%- style -%}
                #columnItemImage--{{ image.id }} {
                  --aspect-ratio: {{ desktop_aspect_ratio }}%;
                }

                {% if equalize_height %}
                  @media screen and (max-width: 767px) {
                    #columnItemImage--{{ image.id }} {
                      --aspect-ratio: {{ mobile_aspect_ratio }}%;
                    }
                  }
                {% endif %}
              {%- endstyle -%}

              <div class="column-item__inner">
                  <div id="columnItemImage--{{ image.id }}"
                    class="column-item__image-wrapper"
                    data-media-container
                    {% if animations_enabled %}
                      data-aos="fade-up"
                      data-aos-anchor="{{ animation_anchor }}"
                      data-aos-delay="{{ animation_delay }}"
                      {%- assign animation_delay = animation_delay | plus: 150 -%}
                    {% endif %}>
                    {%- render 'image-fill', is_background: true, img_object: image, sizes: sizes, classes: 'column-item__image', alt: image_alt -%}
									</div>
							</div>
					</div>
			{% endfor %}
		</div>
		</div>
	</div>
	</div>
{% endif %}

{% schema %}
  {
    "name": "Text with images custom",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-left",
        "options": [
          { "value": "text-left", "label": "Left" },
          { "value": "text-center", "label": "Centered" }
        ]
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per slide",
        "default": 3,
        "min": 2,
        "max": 4,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "show_images",
        "label": "Show images",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_borders",
        "label": "Show borders",
        "default": false
      },
      {
        "type": "header",
        "content": "Height"
      },
      {
        "type": "checkbox",
        "id": "equalize_height",
        "label": "Equalize image heights",
        "default": true
      },
      {
        "type": "range",
        "id": "desktop_aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Desktop height",
        "info": "Wide to tall",
        "default": 0.8
      },
      {
        "type": "range",
        "id": "mobile_aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Mobile height",
        "info": "Wide to tall",
        "default": 0.8
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Heading size",
        "default": 120,
        "min": 70,
        "max": 200,
        "step": 10,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "Text size",
        "default": 100,
        "min": 70,
        "max": 150,
        "step": 10,
        "unit": "%"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "checkbox",
        "id": "bg_color_secondary",
        "label": "Background",
        "info": "Use secondary background color",
        "default": false
      },
      {
        "type": "color",
        "id": "color_borders",
        "label": "Borders",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "Layout",
        "default": "carousel",
        "options": [
          { "value": "grid", "label": "Grid" },
          { "value": "stacked", "label": "Stacked" },
          { "value": "carousel", "label": "Slider" }
        ]
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      }
    ],
		"presets": [
      {
        "name": "Text with images custom",
        "category": "Text"
      }
    ],
    "disabled_on": {
      "groups": ["header","aside"]
    }
  }
{% endschema %}
