{%-liquid
  assign unique = section.id
  assign section_height = section.settings.height
  assign enable_mobile_height = section.settings.enable_mobile_height
  assign mobile_height = section.settings.mobile_height
  assign image = section.settings.image
  assign image_width = image.width
  assign image_alt = image.alt | strip_html | escape
  assign image_stretch = section.settings.enable_stretch
  assign image_position = section.settings.image_position
  assign bg_color_secondary = section.settings.bg_color_secondary
  assign section_width = section.settings.width
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Image--' | append: unique
  assign animation_delay = 150

  capture image_classes
    echo 'section-image__image'
    if image == blank and image_stretch
      echo ' placeholder-svg-rect'
    endif
  endcapture

  comment
    Images sizes
  endcomment
  assign image_widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048'

  assign desktop_space = 120
  assign tablet_space = 40
  assign mobile_space = 40
  case section_width
    when 'wrapper--full'
      assign wrapper_width = '100vw'
      assign desktop_space = 0
      assign tablet_space = 0
      assign mobile_space = 0
    when 'wrapper--full-padded'
      assign wrapper_width = '100vw'
    when 'wrapper'
      assign wrapper_width = '1440px'
    when 'wrapper--narrow'
      assign wrapper_width = '840px'
  endcase

  assign img_width_lg = 'calc(' | append: wrapper_width | append: ' - ' | append: desktop_space | append: 'px)'
  assign img_width_md = 'calc(100vw - ' | append: tablet_space | append: 'px)'
  assign img_width_sm = 'calc(100vw - ' | append: mobile_space | append: 'px)'

  unless image_stretch
    capture settings_height
      case section_height
        when 'full-height'
          echo '100vh'
        when 'three-quarters-height'
          echo '75vh'
        when 'two-thirds-height'
          echo '66vh'
        when 'one-half-height'
          echo '50vh'
        when 'one-third-height'
          echo '33vh'
        when 'one-fifth-height'
          echo '20vh'
        when 'seven-fifty-height'
          echo '750px'
        when 'six-fifty-height'
          echo '650px'
        when 'five-fifty-height'
          echo '550px'
        when 'four-fifty-height'
          echo '450px'
        when 'original-height'
          echo image.height | append: 'px'
      endcase
    endcapture

    capture settings_height_sm
      case mobile_height
        when 'full-height'
          echo '100vh'
        when 'three-quarters-height'
          echo '75vh'
        when 'two-thirds-height'
          echo '66vh'
        when 'one-half-height'
          echo '50vh'
        when 'one-third-height'
          echo '33vh'
        when 'one-fifth-height'
          echo '20vh'
        when 'seven-fifty-height'
          echo '750px'
        when 'six-fifty-height'
          echo '650px'
        when 'five-fifty-height'
          echo '550px'
        when 'four-fifty-height'
          echo '450px'
        when 'original-height'
          echo image.height | append: 'px'
      endcase
    endcapture

    # image.width / image.height = image.aspect_ratio
    capture rendered_image_width
      echo '('
      echo image.aspect_ratio
      echo ' * '
      echo settings_height
      echo ')'
    endcapture
    capture rendered_image_width_sm
      echo '('
      echo image.aspect_ratio
      echo ' * '
      echo settings_height_sm
      echo ')'
    endcapture

    assign img_width_lg = 'min(' | append: rendered_image_width | append: ', (' | append: wrapper_width | append: ' - ' | append: desktop_space | append: 'px))'
    assign img_width_md = 'min(' | append: rendered_image_width | append: ', (100vw - ' | append: tablet_space | append: 'px))'

    if enable_mobile_height
      assign rendered_image_width = rendered_image_width_sm
    endif
    assign img_width_sm = 'min(' | append: rendered_image_width | append: ', (100vw - ' | append: mobile_space | append: 'px))'
  endunless

  assign sizes = '(min-width: 1024px) ' | append: img_width_lg | append: ', (min-width: 768px) ' | append: img_width_md | append: ', ' | append: img_width_sm
-%}

{%- style -%}
  #Image--{{ unique }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
  }
  .only-m {
    display: none;
  }
  .logoContent {
    width: 50%;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    padding: 0 8%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    text-align: left;
  }
  .bluetagTitle {
    font-size: 21px;
  }
  @media screen and (max-width:767px) {
    .only-m {
      display: block;
    }
    .only-pc {
      display: none!important;
    }
    .logoContent {
      width: 100%;
      position: initial;
      right: 0;
      color: #5390CD;
      font-size: 12px;
      padding: 0;
      height: 100%;
      display: flex;
      align-items: self-start;
      text-align: left;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
    }
    .section-image-bluetag .section-image__container {
      align-items: center;
      flex-direction: column;
    }
    .section-image-bluetag .wrapper {
      padding: 0;
    }
    .bluetagTitle {
      font-size: 17px;
    }
  }
{%- endstyle -%}

<section id="Image--{{ unique }}"
  class="section-image-bluetag section-padding section-image{% if image_stretch %} section-image--stretch{% endif %} section-image--{{ image_position }}{% if bg_color_secondary %} bg-secondary{% endif %}"
  data-section-id="{{ unique }}"
  data-section-type="image">
  <div class="{{ section_width }}">
    {%- if section.settings.title != blank -%}
      <div class="only-pc">
        <h2 class="heading bluetagTitle" style="color:#5390cd;">{{ section.settings.title | escape }}</h2>
      </div>
    {%- endif -%}
    <div class="section-image__container {{ section_height }}{% if enable_mobile_height %} {{ mobile_height }}{% endif %}"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>
      {%- render 'image',
        image: image,
        width: image_width,
        widths: image_widths,
        sizes: sizes,
        alt: image_alt,
        classes: image_classes,
        placeholder_svg: 'lifestyle-1' -%}
      <div class="logoContent">
        <h2 class="heading bluetagTitle only-m" style="color:#5390cd;">{{ section.settings.title | escape }}</h2>
        {{section.settings.logo_content}}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image BlueTag",
    "class": "Image",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "logo_content",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Height",
        "default": "original-height",
        "options": [
          { "value": "full-height", "label": "Full screen" },
          { "value": "three-quarters-height", "label": "Three quarters of screen" },
          { "value": "two-thirds-height", "label": "Two thirds of screen" },
          { "value": "one-half-height", "label": "One half of screen" },
          { "value": "one-third-height", "label": "One third of screen" },
          { "value": "one-fifth-height", "label": "One fifth of screen" },
          { "value": "seven-fifty-height", "label": "750px" },
          { "value": "six-fifty-height", "label": "650px" },
          { "value": "five-fifty-height", "label": "550px" },
          { "value": "four-fifty-height", "label": "450px" },
          { "value": "original-height", "label": "Image height" }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_mobile_height",
        "label": "Enable mobile height",
        "default": false
      },
      {
        "type": "select",
        "id": "mobile_height",
        "label": "Mobile height",
        "default": "original-height-mobile",
        "options": [
          { "value": "full-height-mobile", "label": "Full screen" },
          { "value": "three-quarters-height-mobile", "label": "Three quarters of screen" },
          { "value": "two-thirds-height-mobile", "label": "Two thirds of screen" },
          { "value": "one-half-height-mobile", "label": "One half of screen" },
          { "value": "one-third-height-mobile", "label": "One third of screen" },
          { "value": "one-fifth-height-mobile", "label": "One fifth of screen" },
          { "value": "seven-fifty-height-mobile", "label": "750px" },
          { "value": "six-fifty-height-mobile", "label": "650px" },
          { "value": "five-fifty-height-mobile", "label": "550px" },
          { "value": "four-fifty-height-mobile", "label": "450px" },
          { "value": "original-height-mobile", "label": "Image height" }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_stretch",
        "label": "Stretch image",
        "default": true,
        "info": "Desktop only"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "default": "center",
        "info": "Applies if no stretch image checked",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "checkbox",
        "id": "bg_color_secondary",
        "label": "Background",
        "info": "Use secondary background color",
        "default": false
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper--full-padded",
        "options": [
          { "value": "wrapper--full", "label": "Full width" },
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" },
          { "value": "wrapper--narrow", "label": "Page width narrow" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 100
      }
    ],
    "presets": [
      {
        "name": "Image BlueTag",
        "category": "Image"
      }
    ],
    "disabled_on": {
      "groups": ["header","aside"]
    }
  }
{% endschema %}
